.container-fluid {
    overflow: hidden;
    height: calc(100% - 65px);
    background: #414141 url("./../../../assets/kempower-family-c-s.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    text-transform: capitalize;
    position: relative;
    margin: 0;
    padding: 0;
}

.row {
    height: 100%;
    flex-wrap: nowrap;
}
.charger {
    height: 100%;
    margin: 0;
    padding: 0;
}

:host {
    color: #ebebeb;
}
.box {
    position: relative;
    height: 100%;
}

#state {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(50% - 100px);
}
.stateWrap {
    position: relative;

}
 .vertical{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75%;
    width: 0;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
 }
 h3 {
     margin: 25px 0; 
 }

 img {
     margin-bottom: 20px;
 }