<div class="container-fluid">
    <div class="row">
        <div class="charger col-4" *ngFor="let charger of allChargers; let i = index">
        <div class="vertical"></div>
            <div class="box">
                <h3 class="text-center">
                    {{charger.name}}
                </h3>
                    <img src="assets/satelliitti.png" alt="Laturin Kuva" class="img-fluid mx-auto d-block">
                    <div class="mx-auto text-center">

                        <div class="stateWrap">
                            <span id="state" [ngStyle]="{'background-color': stateColor[charger.state]}"></span> Status: {{charger.state}}
                        </div>
                        <div>
                            Max Power: {{charger.maxOutput}}
                        </div>

                        <div *ngIf="charger.state == 'charging'">
                            Charged amount: {{charger.charges[charger.charges.length - 1].chargePower}}kW
                        </div>
                        <div>
                            Charged today: {{soc[i]}}kW
                        </div>
                        <div *ngIf="charger.state == 'charging'">
                            Current charging time: 20 min
                        </div>
                        <div>
                            Total Charge time: {{charger.charges[charger.charges.length - 1].startTime}} min
                        </div>
                        <div>
                            Idle time: {{charger.idleTime}} min
                        </div>
                    </div>
                    </div>
                    
                    <div class="vertical"></div>
        </div>
    </div>
</div>
