<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <i routerLink="" class="material-icons">
            dashboard
            </i>
        <i routerLink="/controlpanel" class="material-icons">
                home
            </i>
        <span class="example-spacer"></span>
        <h4>Team</h4>
        <h6>ERROR</h6>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>