.example-spacer {
    flex: 1 1 auto;
}

h4,
i {
    padding-right: 5px;
    color: #ebebeb;
}

h6 {
    color: #ebebeb;
}

mat-toolbar {
    background-color: #414141;
    border-bottom: 1px solid #ebebeb;
    /* filter: drop-shadow(0px 10px 4px black); */
}

i:hover {
    cursor: pointer;
}