<mat-tab-group mat-stretch-tabs class="mat-elevation-z4" class="tabs">
    <mat-tab label="Pistol charging history">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab [label]="pistol.name" *ngFor="let pistol of pistols">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-bordered mt-3 text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Start-time</th>
                                        <th scope="col">End-time</th>
                                        <th scope="col">SoC% (start - end)</th>
                                        <th scope="col">ChaPo kW</th>
                                        <th scope="col">Car model</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="pistol.charges as charges">
                                    <tr *ngFor="let charge of charges">
                                        <th scope="row">{{charge.id}}</th>
                                        <td>{{charge.startTime}}</td>
                                        <td>{{charge.endTime}}</td>
                                        <td>{{charge.startCharge}} - {{charge.endCharge}}</td>
                                        <td>{{charge.SoC}}</td>
                                        <td>{{charge.carModel}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <img id="taulukko" src="./../../assets/Kuva1.png" alt="">
                        </div>
                        <div class="col-6">
                            <div class="right-side">
                                <img id="sateelliitti" img src="../../assets/satelliitti.png">
                                <h4 class="text-center">Energy consumption x kW</h4>
                                <h4 class="text-center">Usage 58% (x/24h)</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Powersource">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group m-3">
                                <li class="list-group-item">Type: {{powersource.type}}</li>
                                <li class="list-group-item">Power: {{powersource.power}}</li>
                                <li class="list-group-item">Firmware version: {{powersource.firmware}}</li>
                                <li class="list-group-item">Serial number: {{powersource.serialNumber}}</li>

                            </ul>
                        </div>
                        <div class="col-6 text-center">
                            <img id="kaappi" src="./../../assets/kaappi.png" alt="">

                            <h4>Energy consumption: 80 kW</h4>
                            <h4> Usage:58%</h4>
                            <h4> Has {{powersource.pistols.length}} pistols</h4>

                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Report">
        <app-report></app-report>
    </mat-tab>
    <mat-tab label="Service">
        <app-service></app-service>
    </mat-tab>
</mat-tab-group>