#sateelliitti {
    height: 350px;
    width: 350px;
    margin: auto;
    display: block;
}

.custom-container {
    height: 100%;
    display: flex;
}

#kaappi {
    height: 350px;
    width: 350px;
    display: block;
    margin: auto;
}

#taulukko {
    display: block;
    width: 100%;
}

tbody > tr:hover {
    background-color: #00a4d3;
}