.my-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 5px;
  /* margin-top: -10px; */

}
mat-expansion-panel{
  background-color: #f7f6f6;
}
fieldset {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 5px 2px 5px;
  color: #333;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
