<div class="container-fluid">
<mat-accordion>
  <mat-expansion-panel *ngFor="let pistol of pistols">
    <mat-expansion-panel-header>
     <h4 class="mx-auto"><u>{{pistol.name}}</u></h4>
    </mat-expansion-panel-header>
    <div class="row">

                <div class="col-4">
                    <h5>Device info</h5>
                    <p>Status: {{pistol.state}}</p>
                    <p> Type: {{pistol.type}}</p>
                    <p> Max Power: {{pistol.maxOutput}}</p>
                    <p> Firmware version: {{pistol.firmware}}</p>
                    <p> Connector: {{pistol.connector}}</p>
                    <p> Serial number: {{pistol.serialNum}}</p>
                    <p> Errors: {{(pistol.hasError) ? " Yes " : " No "}}</p>
                    <a href='./assets/log.txt' download>
        Download logs</a>
                </div>

                <div class="col-4">
                    <h5>Service history</h5>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <h6>
                        <p>Next service: {{pistol.nextMaintenanceDate}}</p>
                    </h6>

                </div>
                <div class="col-4">
                    <h5>Manipulations</h5>

                    <fieldset>
                        <legend>System update</legend>
                        <div>
                            <label for="file">Choose installation file: </label>
                            <input type="file" id="file" name="file">
                        </div>
                        <div style="margin-top: 10px;">
                            <button>Update</button>
                        </div>
                    </fieldset>


                    <div>

                        <fieldset>
                            <legend>Actions</legend>
                            <mat-radio-group class="my-radio-group">
                                <mat-radio-button color="primary" *ngFor="let action of actions" [value]="action" (change)="onChecked(action)">
                                    {{action}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <button (click)="onApply()">Apply</button>
                        </fieldset>


                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>
