<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <mat-card *ngFor="let pistol of pistols" class="m-3">
                <ul>
                    <li>Name: {{pistol.name}} <button class="btn btn-secondary" (click)="changeName(pistol)">edit</button></li>
                    <li>MaxOutput: {{pistol.maxOutput}} <button class="btn btn-secondary" (click)="changeMaxOutPut(pistol)">edit</button></li>
                    <li>Desc: {{pistol.desc}} <button class="btn btn-secondary" (click)="changeDesc(pistol)">edit</button></li>
                </ul>
            </mat-card>
        </div>
        <div class="col-6" style="position: relative;">
            <img id="map" src="./../../../assets/lamk.jpg" alt="kartta">
            <img id="pin1" src="./../../../assets/pin_drop-24px.svg" alt="">
            <img id="pin2" src="./../../../assets/pin_drop-24px.svg" alt="">
            <img id="pin3" src="./../../../assets/pin_drop-24px.svg" alt="">
        </div>
    </div>
</div>
