#map {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#pin1 {
    position: absolute;
    left: 270px;
    top: 110px;
}

#pin2 {
    position: absolute;
    left: 160px;
    top: 75px;
}

#pin3 {
    position: absolute;
    left: 160px;
    top: 175px;
}

li {
    width: 100%;
    height: 40px;
}

button {
    float: right;
}

.mat-card {
    background-color: #f7f7f6;
}